.contact-page h2{
	margin-top:50px;
}
.contact-page ul,.contact-page li{
	text-decoration:none !important;
	list-style: none !important;
}
.contact-page strong{
	font-size: 22px !important;
}